---
layout: default
title: Homepage
banner: 
    heading: chromo-dope
    button-name: discover
services: 
    collection: 
        - image: /assets/images/heritage-sculpture.jpg
          heading: earrings
        - image: /assets/images/goddess.jpg
          heading: rings
        - image: /assets/images/mystic-incense.jpg
          heading: necklaces
        - image: /assets/images/mystic-incense.jpg
          heading: bracelets
text-image:
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cras vel enim in risus ultrices convallis. Proin et tellus vitae urna congue sollicitudin sed sed mi. Phasellus aliquam dui scelerisque blandit,
    button-text: discover
    button-link: #
    image: /assets/images/heritage-sculpture.jpg
overlap:
    image: /assets/images/bymne-fabric-products.jpg
    heading: Who are we
    description: At Bymne we believe skincare should be as kind to the planet as it is to your skin. Rooted in sustainability and simplicity, our mission is to create high-performing, refillable skincare essentials that nourish your natural beauty while reducing waste. Every product is thoughtfully crafted with clean, effective ingredients and a commitment to protecting our planet for future generations.  
    button-text: Find out more
    button-link: #
brand-names:
    - title: Virgin Coconut Oil
    - title: Annatto Seed
    - title: Aloe Vera
    - title: Rice Bran Oil
    - title: Turmeric
    - title: Frangipani Extract
gallery:
    products:
      - image: /assets/images/bymne-oil-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-candle-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-majorarnica-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-minioil-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-rollon-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-oildropper-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-oildropper-square.jpg
        heading: product title
        price: £price
      - image: /assets/images/bymne-oildropper-square.jpg
        heading: product title
        price: £price
contact:
  heading: contact us
  input-box-name-1: Name
  input-box-name-2: Email
  input-box-name-3: Your Message



---
<!----------- Paragraph section ---------->

<section class="p-20 text-center">
  <p class="max-w-[25%] m-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cras vel enim in risus ultrices convallis. Proin et tellus vitae urna congue sollicitudin sed sed mi. Phasellus aliquam dui scelerisque blandit,
  </p>
</section>


<!----------- Collections section ---------->

<section class="p-24 pt-0">
    <div class="max-w-5xl m-auto">
      <h2 class="uppercase py-2 text-3xl">{{page.services.heading}}</h2>
      <div class="grid md:grid-cols-2 gap-4 text-left">

        {% for item in page.services.collection %}
        <div>
          <div class="aspect-square bg-cover bg-center " style="background-image: url('{{item.image}}')"></div>
          <h3 class="uppercase text-left tracking-wider py-2">{{item.heading}}</h3>
        </div>
        {% endfor %}

      </div>
    </div>
    </section>

    <!----------- text and image section --------------->

    <section class="grid grid-cols-2 border bg-[#d6e1d8]">

      <div class="min-h-[90vh] bg-cover bg-no-repeat bg-center" style="background-image: url('{{page.text-image.image}}');"></div>

      <div class="p-20 self-end">
        <p class="">{{page.text-image.description}}.</p>
        <button class="border border-inherit uppercase py-2 px-6" href="{{page.text-image.button-link}}">{{page.text-image.button-text}}</button>
      </div>

    </section>

    <!--------- double image section ----------->

    <section class="grid grid-cols-2 border bg-[#d1ced9]">

      <div class="m-36 bg-cover bg-no-repeat bg-center" style="background-image: url('{{page.text-image.image}}');"></div>

      <div class="min-h-[90vh] bg-cover bg-no-repeat bg-center" style="background-image: url('{{page.text-image.image}}');"></div>


    </section>
    
    
    <!-----------bg image with overlap text box -------------->
    
    <section class="md:min-h-[75vh] border-t border-black md:grid custom-grid bg-cover bg-center" style="background-image: url('{{page.overlap.image}}');">
      <div></div>
      <div class="bg-[#f4eee0]/50 md:bg-[#f4eee0] p-8 flex flex-col justify-center border-x border-black">
        <h2 class="text-3xl uppercase">{{page.overlap.heading}}</h2>
        <p class="text-sm py-6">{{page.overlap.description}}</p>
        <button href="{{page.overlap.button-link}}" class="text-sm uppercase border border-black max-w-36 p-2">{{page.overlap.button-text}}</button>
      </div>
      <div></div>
    </section>
    
    <!----------brand name section ---------->
    
    <section class="grid grid-cols-2 md:grid-cols-6 gap-[1px] bg-black p-[1px]">
      {% for item in page.brand-names %}
      <p class="text-center text-sm lg:text-base bg-[#f4eee0] p-2">{{item.title}}</p>
      {% endfor %}

    </section>
    
    <!---------- Gallery section ------------>
    <section class="px-8 pb-10 pt-0">
    <div class="">
      <div class="text-left p-8 pl-0">
        <h3 class="text-xl capitalize">shop new in</h3>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for item in page.gallery.products %}
        <div>
          <div class=" bg-cover aspect-square" style="background-image: url('{{item.image}}');"></div>
          <div class="grid grid-cols-2">
            <h4 class="capitalize text-left tracking-wider py-2 flex items-end">{{item.heading}}</h4>
            <h5 class="capitalize text-right text-xs grid items-center justify-items-end tracking-wider py-2">{{item.price}}</h5>
          </div>
        </div>
{% endfor %}
      </div>

    </div>
    </section>
    
    <!----------- Contact form section ---------->
    
    <section class="lg:grid custom-contact-grid min-h-[75vh] border border-black">
      <div class="bg-cover bg-center border-r border-black" style="background-image: url('/assets/images/bymne-candle-scene.jpg');"></div>
      <div class="p-20">
        <h2 class="uppercase text-2xl py-4">{{page.contact.heading}}</h2>
        <form class="">
          <input type="text" id="name" name="name" placeholder="{{page.contact.input-box-name-1}}" class="block w-full bg-transparent border-b border-black placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none">
          <input type="email" id="Email" name="Email" class="block w-full bg-transparent border-b border-black placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none" placeholder="{{page.contact.input-box-name-2}}" required>
          <label for="Message" class="block uppercase text-sm text-black">{{page.contact.input-box-name-3}}</label>
          <textarea id="Message" name="Message" class="block w-full bg-transparent border border-black mb-4 focus:outline-none focus-visible:outline-none resize-none" rows="6" maxlength="3000" required></textarea>
          <div class="text-right">
            <input type="submit" value="Send" class="border border-black py-2 px-8 uppercase text-sm">
          </div>
        </form>
      </div>
    </section>