---
layout: default
title: Homepage
banner: 
    heading: chromo-dope
    button-name: discover
services: 
    collection: 
        - image: /assets/images/matilde-chin-hand.jpg
          heading: earrings
        - image: /assets/images/matilde-hand-pocket.jpg
          heading: rings
        - image: /assets/images/matilde-decollete.jpg
          heading: necklaces
        - image: /assets/images/matilde-ear.jpg
          heading: bracelets
text-image:
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cras vel enim in risus ultrices convallis. Proin et tellus vitae urna congue sollicitudin sed sed mi. Phasellus aliquam dui scelerisque blandit,
    button-text: discover
    button-link: #
    image: /assets/images/matilde-art-ring.jpg
bordered-image:
    image: /assets/images/matilde-petal-gold.jpg
double-image:
    image: /assets/images/matilde-ring-art-pink.jpg
gallery:
    products:
      - image: /assets/images/matilde-earring.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-ring.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-chain.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-necklace.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-earring.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-ring.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-chain.jpg
        heading: product title
        price: £price
      - image: /assets/images/matilde-necklace.jpg
        heading: product title
        price: £price
image-grid:
    options:
    - image: /assets/images/matilde-art-ring-pink-wide.jpg
      image-size: 'wide'
    - image: /assets/images/matilde-ring-box.jpg
    - image: /assets/images/matilde-ear.jpg
    - image: /assets/images/matilde-petal.jpg
    - image: /assets/images/matilde-decollete.jpg



---
<!----------- Paragraph section ---------->

<section class="p-5 md:p-20 text-center">
  <p class="max-w-[70%] md:max-w-[50%] lg:max-w-[25%] m-auto py-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cras vel enim in risus ultrices convallis. Proin et tellus vitae urna congue sollicitudin sed sed mi. Phasellus aliquam dui scelerisque blandit,
  </p>
</section>


<!----------- Collections section ---------->

<section class="p-24 pt-0">
    <div class="max-w-5xl m-auto">
      <h2 class="uppercase py-2 text-3xl">{{page.services.heading}}</h2>
      <div class="grid md:grid-cols-2 gap-4 text-left">

        {% for item in page.services.collection %}
        <div>
          <div class="aspect-square bg-cover bg-center " style="background-image: url('{{item.image}}')"></div>
          <h3 class="uppercase text-left tracking-wider py-2">{{item.heading}}</h3>
        </div>
        {% endfor %}

      </div>
    </div>
    </section>

    <!----------- text and image section --------------->

    <section class="grid md:grid-cols-2 border border-black bg-[#d6e1d8]">

      <div class="min-h-[30vh] md:min-h-[40vh] lg:min-h-[90vh] bg-cover bg-no-repeat bg-center border-r border-black" style="background-image: url('{{page.text-image.image}}');"></div>

      <div class="p-20 self-end">
        <p class="py-8">{{page.text-image.description}}.</p>
        <button class="border border-black uppercase py-2 px-6" href="{{page.text-image.button-link}}">{{page.text-image.button-text}}</button>
      </div>

    </section>

    <!--------- double image section ----------->

    <section class="grid grid-cols-2 min-h-[30vh] md:min-h-[40vh] lg:min-h-[90vh] border-black border bg-[#d1ced9]">

      <div class="hidden md:block m-20 lg:m-40 bg-cover bg-no-repeat bg-center border-white border-2" style="background-image: url('{{page.bordered-image.image}}');"></div>

      <div class="col-span-2 md:col-span-1 bg-cover bg-no-repeat bg-center border-l border-black" style="background-image: url('{{page.double-image.image}}');"></div>

    </section>
    
    <!---------- Product gallery section ------------>
    
    <section class="px-8 pb-10 pt-0 bg-gray-100">
    <div class="">
      <div class="text-left p-8 pl-0">
        <h3 class="text-xl capitalize">shop new in</h3>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for item in page.gallery.products %}
        <div class="">
          <div class="border-yellow-700 border bg-cover aspect-square" style="background-image: url('{{item.image}}');"></div>
          <div class="grid grid-cols-2">
            <h4 class="capitalize text-left tracking-wider py-2 flex items-end">{{item.heading}}</h4>
            <h5 class="capitalize text-right text-xs grid items-center justify-items-end tracking-wider py-2">{{item.price}}</h5>
          </div>
        </div>
{% endfor %}
      </div>

    </div>
    </section>

    <!----------- image grid -------->

    <section class="grid grid-cols-4 gap-1">

      {% for item in page.image-grid.options limit:5 %}
      <a class="{% if item.image-size == 'wide' %} col-span-4 min-h-[40vh] lg:min-h-[60vh] {% else %} col-span-1 aspect-square {% endif %}bg-cover bg-center bg-no-repeat lg:min-h-72 hover:opacity-80" style="background-image: url('{{item.image}}');">
      </a>
      {% endfor %}
  
  </section>
    