<!------- footer section ----------->

<footer class="grid grid-cols-12 p-20 border-b border-black bg-purple-100">
  <div>
    <img src="(/assets/images/matilde-logo.png)">
  </div>
  <div></div>

  <div >
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</footer>