<!------- footer section ----------->

<footer class="grid grid-cols-6 lg:grid-cols-12 p-20 border-b border-black bg-purple-100">
  <div class="">
    <img src="(/assets/images/matilde-logo.png)">
  </div>
  <div></div>
  <div>
    <a class="text-xs lg:text-sm uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
    <a class="uppercase py-2">menu item</a>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</footer>

<!------- footer section ----------->

<footer class="grid grid-cols-6 gap-4 p-20 border-b border-black bg-purple-100">
  <div class="">
    <img src="(/assets/images/circle-svgrepo-com.svg)">
  </div>
  <div class="mr-12">
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
  </div>
  <div class="mr-12">
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
  </div>
  <div class="mr-12">
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
    <a class="text-xs lg:text-sm uppercase py-2 block text-center">menu item</a>
  </div>
  <div></div>
  <div></div>
</footer>