<!------- footer section ----------->

<footer class="grid grid-cols-6 p-20 border-b border-black">
  <div>

  </div>

  <div >
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
  </div>
  <div>
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
  </div>
  <div>
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
    <a class="uppercase">menu item</a>
  </div>
  <div></div>
  <div></div>
</footer>